@charset "UTF-8";

*{
    background-color:rgba(236, 229, 229, 0.71);
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    border-color: white;
}
#fieldlink{
    text-align: right;
}
#linkaclamado{
    padding-top: 0px;
    text-decoration: none;
}
fieldset{
    border-style: none;
}
#im1{
    float:right;
}
#gutsface{
    height:366px;
}
h1{
    font-size: 40px;
    text-indent: 60px;
    margin: 10px 20px 20px 20px;
}
h2{
    text-indent: 60px; 
}
h3{
    margin: 20px 20px 20px 0px;
}
p{
    text-indent: 20px;
    margin: 20px;
}
div{
    text-indent: 30px;
}
#ultlink{
    margin:40px;
    text-decoration: none;
}